@model Proyecto_Web_ll.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label">Title</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label">Details</label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaReporte" class="control-label">Who Reported?</label>
                <input asp-for="PersonaReporte" class="form-control" />
                <span asp-validation-for="PersonaReporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label">Client</label>
                <select asp-for="ClienteID" class ="form-control" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoID" class="control-label">Condition</label>
                <select asp-for="EstadoID" class ="form-control" asp-items="ViewBag.EstadoID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
