@{
    Layout = "_LayoutIngreso";
}
@{
    ViewData["Title"] = "Login";
}


<div class="container ">

   <form class="form-horizontal" role="form" method="POST" >
       <div id="over" style="position:absolute; width:100%; height:100%">
<img  src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Crystal_Clear_app_Login_Manager.png">
       </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username"></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="User" placeholder="Enter Username" name="User"required >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="password"></label>
      <div class="col-sm-7">          
        <input type="password" class="form-control" id="Contrasenna" placeholder="Enter password" name="Contrasenna"required>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-5 ">
       <button type="submit"  asp-controller="Usuario" asp-action="Login" class="btn btn-success"> Ingresar</button>
        </button>
      </div>
    </div>
    
   
  
  
  </form>

</div>
