@model Proyecto_Web_ll.Models.Reunion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Meeting</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <select asp-for="ClienteID" class="form-control" asp-items="ViewBag.ClienteID"></select>
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Virtual" /> @Html.DisplayNameFor(model => model.Virtual)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <select asp-for="UsuarioID" class="form-control" asp-items="ViewBag.UsuarioID"></select>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
