@model IEnumerable<Proyecto_Web_ll.Models.Estado>


@{
    ViewData["Title"] = "Index";
}
@if(Session.isSingin){

<strong class="strong">LIST OF CONDITIONS</strong>
<br>
<br>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                  Name
                </th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.ID"></a>
                <a class="glyphicon glyphicon-duplicate" asp-action="Details" asp-route-id="@item.ID"></a> 
                <a class="glyphicon glyphicon-remove-circle" asp-action="Delete" asp-route-id="@item.ID"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" class="btn btn-secondary center-block"> <a asp-action="Create">Create New</a></button>
</div>
}